.row.prepend-top-default.append-bottom-default
  .col-lg-4
    %h4.prepend-top-0
      项目服务
    %p 项目服务用于集成其他应用
  .col-lg-8
    %table.table
      %colgroup
        %col
        %col
        %col.hidden-xs
        %col{ width: "120" }
      %thead
        %tr
          %th
          %th 服务
          %th.hidden-xs 描述
          %th 最后编辑
      - @services.sort_by(&:title).each do |service|
        %tr
          %td{ "aria-label" => "#{service.title}: status " + (service.activated? ? "on" : "off") }
            = boolean_to_icon service.activated?
          %td
            = link_to edit_project_service_path(@project, service.to_param) do
              %strong= service.title
          %td.hidden-xs
            = service.description
          %td.light
            - if service.updated_at.present?
              = time_ago_with_tooltip service.updated_at
