%ul.nav-links.new-session-tabs{ class: ('custom-provider-tabs' if form_based_providers.any?) }
  - if crowd_enabled?
    %li.active
      = link_to "混合", "#crowd", 'data-toggle' => 'tab'
  - @ldap_servers.each_with_index do |server, i|
    %li{ class: active_when(i.zero? && !crowd_enabled?) }
      = link_to server['label'], "##{server['provider_name']}",  'data-toggle' => 'tab'
  - if password_authentication_enabled_for_web?
    %li
      = link_to '标准', '#login-pane', 'data-toggle' => 'tab'
  - if allow_signup?
    %li
      = link_to '注册', '#register-pane', 'data-toggle' => 'tab'
