- @no_container = true
- breadcrumb_title "Dashboard"

%div{ class: container_class }
  .admin-dashboard.prepend-top-default
    .row
      .col-sm-4
        .info-well.dark-well
          .well-segment.well-centered
            = link_to admin_projects_path do
              %h3.text-center
                项目:
                = approximate_count_with_delimiters(Project)
            %hr
            = link_to('新建项目', new_project_path, class: "btn btn-new")
      .col-sm-4
        .info-well.dark-well
          .well-segment.well-centered
            = link_to admin_users_path do
              %h3.text-center
                用户:
                = approximate_count_with_delimiters(User)
            %hr
            = link_to '新建用户', new_admin_user_path, class: "btn btn-new"
      .col-sm-4
        .info-well.dark-well
          .well-segment.well-centered
            = link_to admin_groups_path do
              %h3.text-center
                群组:
                = approximate_count_with_delimiters(Group)
            %hr
            = link_to '新建群组', new_admin_group_path, class: "btn btn-new"
    .row
      .col-md-4
        .info-well
          .well-segment.admin-well.admin-well-statistics
            %h4 统计
            %p
              派生项目数
              %span.light.pull-right
                = approximate_count_with_delimiters(ForkedProjectLink)
            %p
              问题数
              %span.light.pull-right
                = approximate_count_with_delimiters(Issue)
            %p
              合并请求数
              %span.light.pull-right
                = approximate_count_with_delimiters(MergeRequest)
            %p
              批注数
              %span.light.pull-right
                = approximate_count_with_delimiters(Note)
            %p
              代码片段数
              %span.light.pull-right
                = approximate_count_with_delimiters(Snippet)
            %p
              SSH 密钥数
              %span.light.pull-right
                = approximate_count_with_delimiters(Key)
            %p
              里程碑数
              %span.light.pull-right
                = approximate_count_with_delimiters(Milestone)
            %p
              激活用户数
              %span.light.pull-right
                = number_with_delimiter(User.active.count)
      .col-md-4
        .info-well
          .well-segment.admin-well.admin-well-features
            %h4 特性
            - sign_up = "注册"
            %p{ "aria-label" => "#{sign_up}: status " + (allow_signup? ? "on" : "off") }
              = sign_up
              %span.light.pull-right
                = boolean_to_icon allow_signup?
            - ldap = "LDAP"
            %p{ "aria-label" => "#{ldap}: status " + (Gitlab.config.ldap.enabled ? "on" : "off") }
              = ldap
              %span.light.pull-right
                = boolean_to_icon Gitlab.config.ldap.enabled
            - gravatar = "头像"
            %p{ "aria-label" => "#{gravatar}: status " + (gravatar_enabled? ? "on" : "off") }
              = gravatar
              %span.light.pull-right
                = boolean_to_icon gravatar_enabled?
            - omniauth = "OmniAuth"
            %p{ "aria-label" => "#{omniauth}: status " + (Gitlab.config.omniauth.enabled ? "on" : "off") }
              = omniauth
              %span.light.pull-right
                = boolean_to_icon Gitlab.config.omniauth.enabled
            - reply_email = "邮件回复"
            %p{ "aria-label" => "#{reply_email}: status " + (Gitlab::IncomingEmail.enabled? ? "on" : "off") }
              = reply_email
              %span.light.pull-right
                = boolean_to_icon Gitlab::IncomingEmail.enabled?
            - container_reg = "容器注册表"
            %p{ "aria-label" => "#{container_reg}: status " + (Gitlab.config.registry.enabled ? "on" : "off") }
              = container_reg
              %span.light.pull-right
                = boolean_to_icon Gitlab.config.registry.enabled
            - gitlab_pages = 'GitLab 页面'
            - gitlab_pages_enabled = Gitlab.config.pages.enabled
            %p{ "aria-label" => "#{gitlab_pages}: status " + (gitlab_pages_enabled ? "on" : "off") }
              = gitlab_pages
              %span.light.pull-right
                = boolean_to_icon gitlab_pages_enabled
            - gitlab_shared_runners = '共享 Runners'
            - gitlab_shared_runners_enabled = Gitlab.config.gitlab_ci.shared_runners_enabled
            %p{ "aria-label" => "#{gitlab_shared_runners}: status " + (gitlab_shared_runners_enabled ? "on" : "off") }
              = gitlab_shared_runners
              %span.light.pull-right
                = boolean_to_icon gitlab_shared_runners_enabled
      .col-md-4
        .info-well
          .well-segment.admin-well
            %h4
              组件
              - if Gitlab::CurrentSettings.version_check_enabled
                .pull-right
                  = version_status_badge
            %p
              GitLab
              %span.pull-right
                = Gitlab::VERSION
                = "(#{Gitlab.revision})"
            %p
              GitLab Shell
              %span.pull-right
                = Gitlab::Shell.new.version
            %p
              GitLab Workhorse
              %span.pull-right
                = gitlab_workhorse_version
            %p
              GitLab API
              %span.pull-right
                = API::API::version
            - if Gitlab.config.pages.enabled
              %p
                GitLab Pages
                %span.pull-right
                  = Gitlab::Pages::VERSION
            %p
              Ruby
              %span.pull-right
                #{RUBY_VERSION}p#{RUBY_PATCHLEVEL}
            %p
              Rails
              %span.pull-right
                #{Rails::VERSION::STRING}
            %p
              = Gitlab::Database.adapter_name
              %span.pull-right
                = Gitlab::Database.version
            %p
              = link_to "Gitaly Servers", admin_gitaly_servers_path
    .row
      .col-md-4
        .info-well
          .well-segment.admin-well
            %h4 最近创建的项目
            - @projects.each do |project|
              %p
                = link_to project.full_name, [:admin, project.namespace.becomes(Namespace), project], class: 'str-truncated-60'
                %span.light.pull-right
                  #{time_ago_with_tooltip(project.created_at)}
      .col-md-4
        .info-well
          .well-segment.admin-well
            %h4 最近注册的用户
            - @users.each do |user|
              %p
                = link_to [:admin, user], class: 'str-truncated-60' do
                  = user.name
                %span.light.pull-right
                  #{time_ago_with_tooltip(user.created_at)}
      .col-md-4
        .info-well
          .well-segment.admin-well
            %h4 最近创建的群组
            - @groups.each do |group|
              %p
                = link_to [:admin, group], class: 'str-truncated-60' do
                  = group.full_name
                %span.light.pull-right
                  #{time_ago_with_tooltip(group.created_at)}
